<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About SU Globe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Door <ion-icon name="arrow-round-forward"></ion-icon></p>
  <ion-list *ngFor="let row of listSeat; let i = index">
    <button [color]="seat.status ? 'newred' : 'newgray' " ion-button style="height: 50px" *ngFor="let seat of row; let j = index" (click)="getDetailInfo(seat)"></button>
  </ion-list>
  <div class="explain">
    <div>
      <button ion-button color="newred" style="height: 50px">
      </button>
      <span>Occupied</span>
    </div>
    <div >
      <button ion-button color="newgray" style="height: 50px">
      </button>
      <span>Available</span>
    </div>
  </div>
</ion-content>
