<ion-content padding>
  <div class="heading">
    <h2>SU Globe</h2>
    <img src="../../assets/imgs/globe.png" alt="globe" class="logo">
  </div>
  <ion-list>
    <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <ion-item [ngClass]="displayFieldCss('username')">
        <ion-label floating color="primary">Username</ion-label>
        <ion-input type="text" spellcheck="false" formControlName="username">
        </ion-input>
      </ion-item>
      <p *ngIf="isFieldValid('username')" padding-left style="color: red">Required field!</p>
      <ion-item [ngClass]="displayFieldCss('password')">
        <ion-label floating color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password">
        </ion-input>
      </ion-item>
      <p *ngIf="isFieldValid('password')" padding-left style="color: red">Required field!</p>
      <p color="danger" class="invalid" *ngIf="invalid" margin-top>Please input valid username and password</p>
      <button ion-button block type="submit">Login</button>
    </form>
  </ion-list>
</ion-content>