<ion-content padding>
  <div class="heading">
    <h2>Please change your password</h2>
  </div>
  <ion-list>
    <form [formGroup]="changePassForm">
      <ion-item  [ngClass]="displayFieldCss('oldPassword')">
        <ion-label floating color="primary">Recent password</ion-label>
        <ion-input type="password" formControlName="oldPassword"></ion-input>
      </ion-item>
      <p *ngIf="isFieldValid('oldPassword')" padding-left style="color: red">Required field!</p>
      <ion-list formGroupName="newPassValidate">
        <ion-item  [ngClass]="displayFieldCss('newPassword', 'newPassValidate')">
          <ion-label floating color="primary">New password</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <p *ngIf="isFieldValid('newPassword', 'newPassValidate')" padding-left style="color: red">Required field!</p>
        <ion-item>
          <ion-label floating color="primary">Re-Enter your new password</ion-label>
          <ion-input  type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <p *ngIf="isFieldValid('confirmPassword', 'newPassValidate')" padding-left style="color: red">Required field!</p>
        <p *ngIf="isFieldValid('newPassValidate') && !isFieldValid('confirmPassword', 'newPassValidate') && !isFieldValid('newPassword', 'newPassValidate')" padding-left style="color: red">password contain at least 8 letters including 1 capital letter, 1 symbol!</p>
        <p *ngIf="mess">{{mess}}</p>
        <button ion-button block (click)="onReset()" name="submit">Reset</button>
      </ion-list>
    </form>
  </ion-list>
</ion-content>