detail-info {
  .card {
    position: relative;
  }
  .camera-icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .item .icon {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}